* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    position: relative;
    scroll-behavior: smooth;
}

section {
    margin-bottom: 30px;
}

.bg-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

.bg-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer-bg-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;

}

.footer-bg-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 22px 146px;
}


.logo-wraper img {
    height: 82px;
    width: 110px;
}

.join-com {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

@media screen and (max-width:768px) {
    .header {
        padding: 10px 20px;
    }

    .logo-wraper img {
        height: 60px;
        width: 80px;
    }

    .join-com {
        font-size: 15px;
    }
}

/* /header */

/* Banner section */
.banner {
    height: 574px;
    width: 1188px;
    padding: 37px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    margin-top: 70px;
    gap: 20px;
    position: relative;
}

.banner .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .left img {
    height: 500px;
    width: 528px;
}

.banner .right {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    padding-right: 70px;
}

.banner .right div {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 105%;
    background: linear-gradient(96.95deg, #DDDFF0 -2.32%, #EBE6DB 23.74%, #ECCBCE 44.16%, #C5BFEC 67.5%, #D2E2D8 85.59%, #F9E7D0 109.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.banner .right p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #FFFFFF;
}

/* 4 corners */
.banner .top-l {
    position: absolute;
    top: 0;
    left: 0;
}

.banner .top-r {
    position: absolute;
    top: 0;
    right: 0;
}

.banner .bottom-r {
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner .bottom-l {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* /4 corners */

@media screen and (max-width:1200px) {
    .banner {
        height: fit-content;
        width: fit-content;
        flex-direction: column;
        padding: 50px 126px;
    }

}

@media screen and (max-width:768px) {
    .banner {
        height: fit-content;
        width: 95%;
        padding: 20px;
        gap: 10px;
        margin-top: 20px;
    }

    .banner .left img {
        height: 200px;
        width: 258px;
    }

    .banner .right {
        text-align: center;
        gap: 20px;
        padding-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .banner .right div {
        font-size: 28px;
    }

    .banner .right p {
        font-size: 12px;
        text-align: center;
    }
}

/* /Banner section */

/* Unique offers sec */

.unique-offers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.heading-pro {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(96.95deg, #DDDFF0 -2.32%, #EBE6DB 23.74%, #ECCBCE 44.16%, #C5BFEC 67.5%, #D2E2D8 85.59%, #F9E7D0 109.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border-bottom: 1.25px solid white;
    padding: 20px 100px;
}

.unique-offers .desc {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21.3333px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    max-width: 1150px;
    margin-top: 32px;
}

.unique-offers .label-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 106px;
    gap: 26px;
}

.unique-offers .label-card {
    background: linear-gradient(148.05deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.15) 0.01%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(23.0682px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 21.0909px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 1174px;
    min-height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 0 34px;
}

@media screen and (max-width:768px) {
    .unique-offers {
        margin-top: 30px;
        width: 100%;
    }

    .heading-pro {
        font-size: 22px;
        padding: 10px;
        line-height: 35px;
        text-align: center;
        width: 90%;
    }

    .unique-offers .desc {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        max-width: 90%;
        margin-top: 22px;
    }

    .unique-offers .label-cards {
        margin-top: 50px;
        gap: 16px;
    }

    .unique-offers .label-card {
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        width: 90%;
        height: 200px;
        border: 0.5px solid white;
        padding: 20px;
    }
}

/* /Unique offers sec */

/* Annual value section */
.annual {
    height: fit-content;
    display: flex;
    margin-top: 85px;
    flex-direction: column;
}

.annual .h-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    height: fit-content;
    gap: 34px;
    flex-direction: column;
}

.annual .h-cards .h-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1E1E1E;
    opacity: 0.9;
    padding: 45px;
    gap: 68.21px;
    width: 1188PX;
}

.annual .h-cards .h-card .hc-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.annual .h-cards .h-card .hc-wrapper img {
    width: 378.79px;
    height: 236.74px
}

.annual .h-cards .h-card .hc-middle {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13.8627px;
    line-height: 18px;
    color: #FFFFFF;
    width: 347px;
}

.annual .h-cards .h-card .hc-middle ul {
    margin-left: 24px;
    margin-top: 20px;
}

.annual .h-cards .h-card .hc-middle .hc-head {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20.7941px;
    line-height: 27px;
    text-transform: capitalize;
    color: #CEC2E6;
    margin-bottom: 11px;
}

.annual .h-cards .h-card .hc-last {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20.1341px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

@media screen and (max-width:768px) {
    .annual {
        margin-top: 25px;
        width: 100%;
        align-items: center;
    }

    .annual .h-cards {
        margin-top: 35px;
        gap: 14px;
    }

    .annual .h-cards .h-card {
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        width: 90%;
    }

    .annual .h-cards .h-card .hc-wrapper img {
        width: 278.79px;
        height: 176.74px
    }


    .annual .h-cards .h-card .hc-middle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .annual .h-cards .h-card .hc-middle ul {
        margin-left: 0px;
        margin-top: 10px;
    }

    .annual .h-cards .h-card .hc-middle .hc-head {
        font-size: 18px;
        text-align: center;
    }

    .annual .h-cards .h-card .hc-last {
        gap: 15px;
        font-size: 18px;
    }
}

/* /Annual value section */

/* secrete saving sec */
.saving {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.saving .heading-pro .para {
    font-size: 28px;
    font-family: "inter";
}

.saving .v-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    flex-wrap: wrap;
    gap: 36px;
}

.saving .v-card {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background: linear-gradient(148.05deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.15) 0.01%, rgba(255, 255, 255, 0.1) 100%);
    opacity: 0.9;
    backdrop-filter: blur(8.15596px);
    border-radius: 20px;
    width: 287.09px;
    height: 430.63px;
    padding: 13px;
}

.saving .v-card .vc-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.saving .v-card .vc-wrapper img {
    width: 260.99px;
    height: 163.12px;
}

.saving .v-card .title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.saving .v-card .desc1 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

}

@media screen and (max-width:768px) {
    .saving {
        margin-top: 30px;
        width: 100%;
    }

    .saving .heading-pro .para {
        font-size: 16px;
        line-height: 22px;
        margin-top: 5px;
    }

    .saving .v-cards {
        margin-top: 35px;
        gap: 16px;
    }
}

/* /secrete saving sec */

/* recap section */
.recap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recap .recap-head {
    width: 100%;
}

.recap .join-margin {
    margin-top: 52px;
}

.recap .label-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 74px;
    gap: 26px;
}

.recap .label-card {
    background: linear-gradient(148.05deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.15) 0.01%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(23.0682px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 21.0909px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 1174px;
    min-height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 0 34px;
}

.latest-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin-top: 40px;
}

.latest-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 21.0909px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width:768px) {
    .recap {
        width: 100%;
    }

    .recap .recap-head {
        width: 90%;
    }

    .recap .join-margin {
        margin-top: 22px;
    }

    .recap .label-cards {
        margin-top: 34px;
        gap: 16px;
    }

    .recap .label-card {
        font-size: 16px;
        width: 90%;
        border: 0.5px solid white;
    }

    .latest-text {
        gap: 30px;
        margin-top: 20px;
        padding: 40px;
    }

    .latest-text p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

}

/* /recap section */

/* Testimonials section */
.test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 126px;
}

.test .heading-pro .para {
    font-size: 28px;
    font-family: "inter";
}

.test .pad-x {
    padding: 20px 50px;
}

.test .t-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 120px;
    gap: 66.82px;
}

.test .t-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 38px;
    width: 308.12px;
    height: 334.11px;
    background: linear-gradient(180deg, #232222 0%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(8.75339px);
    border-radius: 18.5614px;
}

.test .t-card .dp-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(image.png);
    filter: drop-shadow(0px 92.807px 74.2456px rgba(0, 0, 0, 0.71)) drop-shadow(0px 42.9075px 34.326px rgba(0, 0, 0, 0.52659)) drop-shadow(0px 24.5507px 19.6406px rgba(0, 0, 0, 0.445014)) drop-shadow(0px 14.9021px 11.9217px rgba(0, 0, 0, 0.383363)) drop-shadow(0px 8.97917px 7.18333px rgba(0, 0, 0, 0.326637)) drop-shadow(0px 5.00018px 4.00015px rgba(0, 0, 0, 0.264986)) drop-shadow(0px 2.15054px 1.72043px rgba(0, 0, 0, 0.18341));
    margin-top: -120px;
}

.test .t-card .dp-wrapper img {
    width: 96.52px;
    height: 96.52px;
}

.test .t-card .user {
    margin-top: 22px;
    position: relative;
    z-index: 10;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21.0081px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(96.95deg, #DDDFF0 -2.32%, #EBE6DB 23.74%, #ECCBCE 44.16%, #C5BFEC 67.5%, #D2E2D8 85.59%, #F9E7D0 109.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.test .t-card .opinion {
    margin-top: 13px;
    position: relative;
    z-index: 10;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.993px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width:768px) {
    .test {
        padding: 0;
        width: 100%;
        margin-top: 30px;
    }

    .test .heading-pro .para {
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
    }

    .test .pad-x {
        padding: 20px;
    }

    .test .t-cards {
        margin-top: 80px;
        gap: 60px;
    }
}

/* /Testimonials section */

/* FOOTER */
.footer {
    width: 100%;
    padding-bottom: 30px;
    margin-top: 46px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.47) 0%, rgba(255, 255, 255, 0) 100%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(23.0682px);
    padding-top: 20px;
}

.footer .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .footer-top div {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;
    text-align: justify;
    text-transform: capitalize;
    background: linear-gradient(96.95deg, #DDDFF0 -2.32%, #EBE6DB 23.74%, #ECCBCE 44.16%, #C5BFEC 67.5%, #D2E2D8 85.59%, #F9E7D0 109.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.footer .footer-top p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

/* top */
.footer .footer-top form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}

.footer .footer-top form .input-mail {
    width: 418px;
    height: 60px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), linear-gradient(90deg, rgba(165, 175, 196, 0.0001) 2.17%, rgba(109, 123, 152, 0.0001) 98.96%);
    backdrop-filter: blur(40.7742px);
    border: none;
    color: white;
    padding: 0 25px;
}

.footer .footer-top form .input-mail::placeholder {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: start;
    text-transform: lowercase;
    color: #FFFFFF;
}

.btn {
    width: 146px;
    height: 60px;
    background: linear-gradient(96.95deg, #DDDFF0 -2.32%, #EBE6DB 23.74%, #ECCBCE 44.16%, #C5BFEC 67.5%, #D2E2D8 85.59%, #F9E7D0 109.7%);
    backdrop-filter: blur(40.7742px);
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    /* text-transform: lowercase; */
    color: #000000;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-select {
    height: 44px;
}

/* middle */
.footer .footer-middle {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 110px;
    width: 100%;
    padding: 0 146px;
}

.footer .footer-middle p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer .footer-middle table {
    color: #FFFFFF;
    margin-top: 35px;
}

.footer .footer-middle table tr td,
th {
    text-align: start;
    padding-right: 80px;
}

.footer .footer-middle table tr td {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer .footer-middle table tr th {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* bottom */
.footer .footer-bottom {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 230px;
    padding: 0 126px;
}

.footer .footer-bottom .top-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;

}

.footer .footer-bottom .top-sec .left-sec {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 500px;

}

.footer .footer-bottom .top-sec .left-sec a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    text-align: justify;
    text-transform: uppercase;
    background: linear-gradient(96.95deg, #DDDFF0 -2.32%, #EBE6DB 23.74%, #ECCBCE 44.16%, #C5BFEC 67.5%, #D2E2D8 85.59%, #F9E7D0 109.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.footer .footer-bottom .top-sec .left-sec .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer .footer-bottom .top-sec .left-sec .logo-wrapper img {
    height: 116px;
    width: 155px;
}

.footer .footer-bottom .top-sec .middle-sec {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.footer .middle-sec div {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.footer .middle-sec>p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer .middle-sec a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.footer .middle-sec a p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 225%;
    text-align: justify;
    text-transform: uppercase;
    background: linear-gradient(96.95deg, #DDDFF0 -2.32%, #EBE6DB 23.74%, #ECCBCE 44.16%, #C5BFEC 67.5%, #D2E2D8 85.59%, #F9E7D0 109.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.footer .right-sec .contact-hrs {
    margin-top: 30px;
}

.footer .bottom-sec {
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding-top: 30px;
}

.footer .bottom-sec .left-side {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    gap: 94px;
}

.footer .bottom-sec .club {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 225%;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer .bottom-sec .left-side .terms {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 225%;
    text-align: justify;
    text-transform: uppercase;
    background: linear-gradient(96.95deg, #DDDFF0 -2.32%, #EBE6DB 23.74%, #ECCBCE 44.16%, #C5BFEC 67.5%, #D2E2D8 85.59%, #F9E7D0 109.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.footer .bottom-sec .right-side {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.footer .bottom-sec .right-side a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

@media screen and (max-width:768px) {
    .footer {
        width: 100%;
        padding-bottom: 20px;
        margin-top: 10px;
        padding-top: 10px;
    }

    .footer .footer-top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .footer-top div {
        font-size: 28px;
        line-height: 35px;
    }

    .footer .footer-top p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 0px;
        padding: 10px;
    }

    /* top */
    .footer .footer-top form {
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
        gap: 20px;
    }

    .footer .footer-top form .input-mail {
        width: 90%;
        height: 50px;
    }

    .footer .footer-top form .input-mail::placeholder {
        font-size: 14px;
    }

    .btn {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    .btn-select {
        height: 34px;
    }

    /* middle */
    .footer .footer-middle {
        margin-top: 30px;
        width: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer .footer-middle p {
        font-size: 12px;
        text-align: center;
    }

    .footer .footer-middle table {
        margin-top: 15px;
    }

    .footer .footer-middle table tr td,
    th {
        text-align: start;
        padding-right: 10px;
    }

    .footer .footer-middle table tr td {
        font-size: 12px;
    }

    .footer .footer-middle table tr th {
        font-size: 12px;
    }

    /* bottom */
    .footer .footer-bottom {
        margin-top: 30px;
        padding: 0 10px;
        width: 100%;
    }

    .footer .footer-bottom .top-sec {
        width: 100%;
        gap: 15px;
    }

    .footer .footer-bottom .top-sec .left-sec {
        width: fit-content;
    }

    .footer .footer-bottom .top-sec .left-sec a {
        font-size: 8px;
        line-height: 140%;
    }

    .footer .footer-bottom .top-sec .left-sec .logo-wrapper {
        margin-bottom: 10px;
    }

    .footer .footer-bottom .top-sec .left-sec .logo-wrapper img {
        height: 52px;
        width: 80px;
    }

    .footer .middle-sec div {
        font-weight: 500;
        font-size: 8px;
        line-height: 16px;
        margin-bottom: 8px;
    }

    .footer .middle-sec>p {
        font-weight: 400;
        font-size: 8px;
        line-height: 16px;
    }

    .footer .middle-sec a {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        margin-top: 20px;
    }

    .footer .middle-sec a p {
        font-weight: 500;
        font-size: 8px;
        line-height: 120%;
    }

    .footer .right-sec {
        width: 120px;
    }

    .footer .right-sec .contact-hrs {
        margin-top: 30px;
    }

    .footer .bottom-sec {
        margin-top: 20px;
        padding-top: 10px;
        flex-direction: column;

    }

    .footer .bottom-sec .left-side {
        width: 100%;
        gap: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer .bottom-sec .club {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
    }

    .footer .bottom-sec .left-side .terms {
        font-weight: 400;
        font-size: 9px;
        line-height: 120%;
    }

    .footer .bottom-sec .right-side {
        width: 100%;
    }

    .footer .bottom-sec .right-side a {
        font-size: 12px;

    }
}

/* /FOOTER */